<!-- == | Main Container Start ===== -->
<section class="portfolio section container" id="portfolio">
        <!-- == | Portfolio Section Start ===== -->
        <div class="row" role="heading">
            <div class="col d-flex align-items-center">
                <div class="section-title">
                    <h2 >{{ 'PORTFOLIO.Title' | translate }}</h2>
                </div>
            </div>
        </div>
        <div class="row" role="rowgroup">
            <div class="col">
                <div class="portfolio-head">
                    <h2 class="mb-0">{{ 'PORTFOLIO.Subtitle' | translate }}:</h2>
                </div>
            </div>
        </div>
        <div class="row row-cols-1 row-cols-md-2 row-cols-xxl-3 g-4 mt-3" role="rowgroup">
            <div class="col sevices-item d-flex align-items-stretch mb-2" *ngFor="let project of projectItems; let index=index">

                <article class="card bg-card text-center ">
                    <header class="card-header">
                        {{project.getTitle}}
                    </header>
                    <p class="d-flex flex-wrap justify-content-center py-2 bg-important">
                        {{ project.getOwner | translate }}
                    </p>
                    <div style="overflow: hidden;">
                        <img class="card-img-top img-aspect" src={{project.getUrlMainImage}} alt="{{project.getSubTitle}}" data-bs-toggle="modal" data-bs-target="#myModal" (click)="dataModal(index)" >
                    </div>
                    <div class="card-body d-flex flex-wrap justify-content-center gap-3">
                        <p>{{ project.getTranslateDescription | translate }}</p>
                        <!-- <span class="tag-tecnology" *ngFor="let technologies of project.getTechnologies">{{technologies}}</span> -->
                    </div>
                    <footer class="card-footer card-text-muted d-flex justify-content-between">
                        <small>{{ project.getTranslateYearsExpirience | translate:project }}</small>
                        <a href="/" class="modalOpenButton" data-bs-toggle="modal" data-bs-target="#myModal" (click)="dataModal(index)">
                            <i class="fa-solid fa-square-up-right"></i>
                        </a>
                    </footer>
                </article>

            </div>
        </div>
        <!-- == | Portfolio Section End ===== -->
</section>

<!-- The Modal -->
<div class="modal fade " id="myModal" role="dialog">
    <div class="modal-dialog modal-xl modal-dialog-centered">
        <dialog class="modal-content bg-modal">
  
            <!-- Modal Header -->
            <div class="modal-header">
            <h4 class="modal-title">{{projecyModal.getTitle}}</h4>
            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
    
            <!-- Modal body -->
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-8 d-flex align-items-center">

                            <carousel 
                                [(activeSlide)]="activeSlideIndex" 
                                [interval]="myInterval"
                                [showIndicators]="false"
                                class="project-carousel"
                                >
                                <slide class="carousel-dark">
                                    <img src={{projecyModal.getUrlMainImage}} alt="{{projecyModal.getSubTitle}}" class="img-aspect" style="display: block; width: 100%;">
                                    <div class="carousel-caption d-none d-md-block main-image p-0 text-white" >
                                        <h3>{{projecyModal.getTitle}}</h3>
                                        <p>{{ projecyModal.getTranslateSubTitle | translate }}</p>
                                    </div>
                                </slide>
                                <slide *ngFor="let slide of projecyModal.getUrlImages; let index=index">
                                    <img [src]="slide" alt="imagen de referencia del proyecto" class="img-aspect" style="display: block; width: 100%;">
                                
                                    <div class="carousel-caption text-dark">
                                        <h4></h4>
                                        <p></p>
                                    </div>
                                </slide>
                            </carousel>

                        </div>
                        <div class="col-md-4">

                            <div class="row mb-3" >
                                <p>{{ projecyModal.getTranslateDescription | translate }}</p>
                                <h6>{{ "PORTFOLIO.OwnerText" | translate }}: {{ projecyModal.getOwner | translate }}</h6>
                            </div>
                            <div class="row">
                                <div class="card tecnology-card" style="margin:10px; width: 100%;">
                                    <header class="card-header">
                                        {{ "PORTFOLIO.TechnologiesText" | translate }}
                                    </header>
                                    <div class="card-body d-flex flex-wrap justify-content-center gap-3">
                                        <span class="tag-tecnology" *ngFor="let technologies of projecyModal.getTechnologies">{{technologies}}</span>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
    
            <!-- Modal footer -->
            <footer class="modal-footer">
                <a *ngIf="projecyModal.getUrlRepository" href={{projecyModal.getUrlRepository}} ref="noreferrer" target="_blank" class="btn bttn-repository" placement="top" tooltip="Repository" containerClass="tooltipPorfolio">
                    <i class={{projecyModal.getIconRepository}}></i>
                </a>
                <a *ngIf="projecyModal.getUrlProject" href={{projecyModal.getUrlProject}} ref="noreferrer" target="_blank" class="btn bttn-repository" placement="top" tooltip="Website" containerClass="tooltipPorfolio">
                    <i class="fa-solid fa-link"></i>
                </a>
            </footer>
  
        </dialog>
    </div>
  </div>

<!-- == | Main Container End ===== -->