/* 
    Created on : 21/09/2023, 12:29:36 PM
    Author     : Steven
*/
/* Portfolio */
.portfolio.section{
    background-color: var(--bg-black-900);
    min-height: 100vh;
    display: block;
    padding: 0 30px;
    opacity: 1;
}

.portfolio .portfolio-head{
    text-align: left;
}

.portfolio .portfolio-head{
    color: var(--text-black-900);
    font-weight: 500;
}