<div class="container-fluid" style="margin: 0; padding: 0;">
    <div class="row bg-base" style="margin: 0; padding: 0;">

        <div class="col-lg-3 base-navbar" >
            <nav class="navbar" >
                <!-- Links -->
                <div class="aside d-flex flex-column align-items-start">
                    <div class="p-2 nav-item logo d-flex justify-content-center">
                        <!-- Brand/logo routerLink="/"  -->
                        <a class="navbar-brand" routerLink="/"> 
                            <span>Dev</span> PSCP
                        </a>
                    </div>
                    <div class="nav-toggler">
                        <span></span>
                    </div>
                    <div class="p-2 mb-3 container user-content">
                        <div class="row ">
                            <div class="user-img d-flex align-items-center py-2">
                                <img src="../../../../assets/img/Dreamer.png" alt="">
                            </div>
                        </div>
                        <div class="row">
                            <div class="d-flex user-social-media justify-content-around py-2">
                                <a href='https://www.linkedin.com/in/pedro-steven-castiblanco-piracoca-a54a1a164/' target="_blank" class="fa-brands fa-linkedin"></a>
                                <a href='https://github.com/ztevenx100' target="_blank" class="fa-brands fa-square-github"></a>
                                <a href='https://gitlab.com/pscastiblanco' target="_blank"  class="fa-brands fa-square-gitlab"></a>
                            </div>
                        </div>
                    </div>
                    <ul class="p-2 mb-auto navbar-nav nav-page-links px-4">
                        <li class="nav-item">
                            <a class="nav-link active" routerLink="/home" >
                                <i class="fa fa-home"></i>Home
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/about" >
                                <i class="fa fa-user"></i>About
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/services" >
                                <i class="fa fa-list"></i>Services
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/portfolio" >
                                <i class="fa fa-briefcase"></i>Portfolio
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/contact" >
                                <i class="fa fa-comments"></i>Contact
                            </a>
                        </li>
                    </ul>
                    <!-- Footer navbar -->
                    <div class="footer">
                        <i class="fa-solid fa-copyright"></i> Copyright 2023
                        <p>Designed by Dev PSCP</p>
                    </div>
                </div>
            </nav>
        </div>
        
        <div class="col-lg-9" style="overflow: hidden;">
            <!-- Others pages -->
            <router-outlet></router-outlet>
        </div>

    </div>
    <!-- == | Style switcher Start ===== -->
    <app-style-swicher></app-style-swicher>
</div>