<!-- == | Style switcher Start ===== -->
  <aside class="style-switcher">
    <figure class="style-switcher-toggler s-icon">
      <i class="fa fa-palette"></i>
    </figure>
    <figure class="day-night s-icon">
      <i class="fas "></i>
    </figure>
    <app-swicher-lang></app-swicher-lang>
    <h4>{{ 'NAVBAR.TitleStyleSwicher' | translate }}</h4>
    <menu class="colors" role="menu">
      <li class="color-1" (click)="setColorStyle(1)"></li>
      <li class="color-2" (click)="setColorStyle(2)"></li>
      <li class="color-3" (click)="setColorStyle(3)"></li>
      <li class="color-4" (click)="setColorStyle(4)"></li>
      <li class="color-5" (click)="setColorStyle(5)"></li>
      <li class="color-6" (click)="setColorStyle(6)"></li>
    </menu>
  </aside>
