  <!-- == | Style switcher Start ===== -->
  <aside class="style-switcher">
    <figure class="style-switcher-toggler s-icon">
      <i class="fa fa-palette"></i>
    </figure>
    <figure class="day-night s-icon">
      <i class="fas "></i>
    </figure>
    <h4>Theme Colors</h4>
    <menu class="colors" role="menu">
      <li class="color-1" (click)="setActiveStyle('color-1')"></li>
      <li class="color-2" (click)="setActiveStyle('color-2')"></li>
      <li class="color-3" (click)="setActiveStyle('color-3')"></li>
      <li class="color-4" (click)="setActiveStyle('color-4')"></li>
      <li class="color-5" (click)="setActiveStyle('color-5')"></li>
    </menu>
  </aside>
