<!-- == | Main Container Start ===== -->
<section class="contact section" id="contact">
    <div class="container">
        <!-- == | Contact Section Start ===== -->
        <div class="row">
            <div class="col d-flex align-items-center">
                <div class="section-title">
                    <h2>Contact</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h3 class="contact-title">Have you any questions?</h3>
                <h4 class="contact-sub-title">I'n at your services</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md contact-info-item text-center">
                <div class="icon"><i class="fa fa-envelope"></i></div>
                <h4>Email</h4>
                <p>pscastiblanco@gmail.com</p>
            </div>
            <div class="col-md contact-info-item text-center">
                <div class="icon"><i class="fa fa-globe-europe"></i></div>
                <h4>Website</h4>
                <p>www.domain.com</p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h3 class="contact-title">Send me an email</h3>
                <h4 class="contact-sub-title">I'm very responsive to messages</h4>
            </div>
        </div>
        <div class="row">
            <div class="contact-form">
                <form >
                    <div class="form-group row form-item mb-3">
                        <div class="col-sm-6">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">Name</div>
                                </div>
                                <input type="text" class="form-control" id="name" placeholder="Name">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">Email</div>
                                </div>
                                <input type="text" class="form-control" id="email" placeholder="Email">
                            </div>
                        </div>
                    </div>
                    <div class="form-group row form-item mb-3">
                        <div class="col-sm-8">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">Message</div>
                                </div>
                                <textarea class="form-control" id="message" placeholder="Message"></textarea>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <button type="submit" class="btn ">Send message</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!-- == | Contact Section End ===== -->
    </div>
</section>
<!-- == | Main Container End ===== -->