<footer class="row footer-base">
    <div class="col-lg-9 offset-md-3 footer-content">
        <div class="row">
            <div class="col offset-md-6 tecnology-info d-flex flex-column">
                <div class="p-2 tecnology-info-icons d-flex justify-content-center">
                    <!-- Iconos de tecnologias usadas -->
                    <i class="fa-brands fa-angular" tooltip="Angular" containerClass="tooltipFooter"></i>
                    <i class="fa-brands fa-html5" tooltip="HTML 5" containerClass="tooltipFooter"></i>
                    <i class="fa-brands fa-css3-alt" tooltip="CSS3" containerClass="tooltipFooter"></i>
                    <i class="fa-brands fa-square-js" tooltip="JavaScript" containerClass="tooltipFooter"></i>
                    <i class="fa-brands fa-bootstrap" tooltip="Bootstrap" containerClass="tooltipFooter"></i>
                </div>
                <small class="p-2 tecnology-info-text">
                    Technologies used in this page
                </small>
            </div>
        </div>
    </div>
</footer>
