<!-- == | Main Container Start ===== -->
<section id="services" class="services section">
    <!-- == | Services Section Start ===== -->
    <div class="row" role="row">
        <div class="col d-flex align-items-center">
            <div class="section-title">
                <h2>{{ 'SERVICES.Title' | translate }}</h2>
            </div>
        </div>
    </div>
    <div class="row row-cols-1 row-cols-md-3 g-4 mb-2" role="row">
        <div class="col sevices-item">
            <article class="card text-center ">
                <header class="card-header">
                    {{ 'SERVICES.Card01Header' | translate }}
                </header>
                <div class="card-body">
                    <figure class="icon">
                        <i class="fa fa-laptop-code"></i>
                    </figure>
                    <p class="card-text">{{ 'SERVICES.Card01Text01' | translate }}</p>
                </div>
                <ul class="list-group list-group-flush ">
                    <li class="list-group-item bg-list">
                        <span class="badge bg-primary rounded-pill">{{ 'SERVICES.Card01Text02' | translate }}</span>
                        <div class="ms-2 me-auto">
                            <span class="important">HTML5, CSS3, JS, JSP, JAVA, C#</span>
                        </div>
                    </li>
                    <li class="list-group-item bg-list">
                        <span class="badge bg-primary rounded-pill">Frameworks</span>
                        <div class="ms-2 me-auto">
                            <span class="important">Angular, React, Bootstrap</span>
                        </div>
                    </li>
                    <li class="list-group-item bg-list">
                        <span class="badge bg-primary rounded-pill">{{ 'SERVICES.Card01Text03' | translate }}</span>
                        <div class="ms-2 me-auto">
                            <span class="important">Oracle, SQLServer, MySql, PostgresSQL</span>
                        </div>
                    </li>
                </ul>
                <footer class="card-footer card-text-muted">
                    {{ 'SERVICES.Card01Footer' | translate }}
                </footer>
            </article>
        </div>
        <div class="col sevices-item">
            <article class="card text-center ">
                <header class="card-header">
                    {{ 'SERVICES.Card02Header' | translate }}
                </header>
                <div class="card-body">
                    <figure class="icon">
                        <i class="fa fa-code"></i>
                    </figure>
                    <p class="card-text">{{ 'SERVICES.Card02Text01' | translate }}</p>
                </div>
                <footer class="card-footer text-muted">
                    {{ 'SERVICES.Card02Footer' | translate }}
                </footer>
            </article>
        </div>
        <div class="col sevices-item">
            <article class="card text-center ">
                <header class="card-header">
                    {{ 'SERVICES.Card03Header' | translate }}
                </header>
                <div class="card-body">
                    <figure class="icon">
                        <i class="fa-solid fa-chalkboard-user"></i>
                    </figure>
                    <p class="card-text">{{ 'SERVICES.Card03Text01' | translate }}</p>
                </div>
                <footer class="card-footer text-muted">
                    {{ 'SERVICES.Card03Footer' | translate }}
                </footer>
            </article>
        </div>
    </div>
    <!-- == | Services Section End ===== -->
</section>
<!-- == | Main Container End ===== -->