<!-- == | Main Container Start ===== -->
<section id="home" class="home section bg-home">
        <!-- == | Home Section Start ===== -->
        <div class="row content-home" role="row">
            <div class="col-md-5 d-flex align-items-center justify-content-center">
                <figure class="home-img px-3 mt-5">
                    <img src="./assets/img/Dreamer-2.webp" alt="Website owner: Pedro Castiblanco">
                </figure>
            </div>
            <div class="col-md-7 d-flex align-items-center">
                <div class="home-info px-3">
                    <h4 class="hello">{{ 'HOME.Title' | translate }}</h4>
                    <h3 class="hello"><span class="name">Pedro Castiblanco</span></h3>
                    <h3 class="my-profession">
                        <ngx-typed-js
                            [strings]="['Web Developer','Ingeniero de sistemas','Software Enginner','Full Stack Developer']"
                            [loop]='true'
                            [typeSpeed]="100"
                            [shuffle]="true"
                        >
                        {{ 'HOME.Subtitle' | translate }}<span class="typing"></span>
                        </ngx-typed-js>
                    </h3>
                    <p></p>
                    <a routerLink="/contact" class="bttn hire-me">{{ 'HOME.BtnHireMe' | translate }}</a>
                </div>
            </div>
        </div>
        <!-- == | Home Section End ===== -->
</section>
<!-- == | Main Container End ===== -->