<div class="row bg-base p-0 m-0" >

    <div class="col-md-5 col-lg-4 col-xl-3 base-navbar" >
        <nav class="navbar d-flex flex-column align-items-start" >
            <!-- Links -->
                <li class="nav-item logo d-flex justify-content-center" role="rowheader">
                    <!-- Brand/logo routerLink="/"  -->
                    <a class="navbar-brand" routerLink="/"> 
                        <span>Dev</span> PSCP
                    </a>
                </li>
                <button class="nav-toggler">
                    <span></span>
                </button>
                <div class="nav-user row row-cols-1 mb-3 mt-md-3 mt-lg-3 user-content px-4" role="row">
                    <figure class="col user-img d-flex align-items-center py-2">
                        <img src="./assets/img/Dreamer.webp" alt="Website owner: Pedro Castiblanco">
                    </figure>
                    <menu class="col d-flex user-social-media justify-content-around py-2">
                        <a href='https://www.linkedin.com/in/pscastiblancop' ref="noreferrer" target="_blank" class="fa-brands fa-linkedin"></a>
                        <a href='https://github.com/ztevenx100' ref="noreferrer" target="_blank" class="fa-brands fa-square-github"></a>
                        <a href='https://gitlab.com/pscastiblanco' ref="noreferrer" target="_blank"  class="fa-brands fa-square-gitlab"></a>
                    </menu>
                </div>
                <menu class="mb-auto mt-1 mt-md-3 mt-lg-5 navbar-nav nav-page-links nav-links-class px-4">
                    <li class="nav-item">
                        <a class="nav-link active" routerLink="/home" >
                            <i class="fa fa-home"></i>{{ 'NAVBAR.LinkHome' | translate }}
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/about" >
                            <i class="fa fa-user"></i>{{ 'NAVBAR.LinkAboutMe' | translate }}
                        </a>
                    </li>
                    <!-- <li class="nav-item">
                        <a class="nav-link" routerLink="/services" >
                            <i class="fa fa-list"></i>{{ 'NAVBAR.LinkServices' | translate }}
                        </a>
                    </li> -->
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/portfolio" >
                            <i class="fa fa-briefcase"></i>{{ 'NAVBAR.LinkPortfolio' | translate }}
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/contact" >
                            <i class="fa fa-comments"></i>{{ 'NAVBAR.LinkContact' | translate }}
                        </a>
                    </li>
                </menu>
                <!-- Footer navbar -->
                <footer class="footer mt-2">
                    <p>2024 - Designed by Dev PSCP</p>
                </footer>
        </nav>
    </div>
    
    <div class="col-md-7 col-lg-8 col-xl-9">
        <!-- Others pages -->
        <router-outlet></router-outlet>
    </div>

</div>