<!-- == | Main Container Start ===== -->
<section class="services section" id="services">
    <div class="container">
        <!-- == | Services Section Start ===== -->
        <div class="row">
            <div class="col d-flex align-items-center">
                <div class="section-title">
                    <h2>Services</h2>
                </div>
            </div>
        </div>
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col sevices-item">
                <div class="card text-center ">
                    <div class="card-header">
                        Web developer
                    </div>
                    <div class="card-body">
                        <div class="icon">
                            <i class="fa fa-laptop-code"></i>
                        </div>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                    </div>
                    <div class="card-footer text-muted">
                        +4 years
                    </div>
                </div>
            </div>
            <div class="col sevices-item">
                <div class="card text-center ">
                    <div class="card-header">
                        Junior developer
                    </div>
                    <div class="card-body">
                        <div class="icon">
                            <i class="fa fa-code"></i>
                        </div>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                    </div>
                    <div class="card-footer text-muted">
                        +4 years
                    </div>
                </div>
            </div>
            <div class="col sevices-item">
                <div class="card text-center ">
                    <div class="card-header">
                        Web developer
                    </div>
                    <div class="card-body">
                        <div class="icon">
                            <i class="fa fa-bug"></i>
                        </div>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                    </div>
                    <div class="card-footer text-muted">
                        +4 years
                    </div>
                </div>
            </div>
        </div>
        <!-- == | Services Section End ===== -->
    </div>
</section>
<!-- == | Main Container End ===== -->