<!-- == | Main Container Start ===== -->
<section class="services section" id="services">
    <div class="container">
        <!-- == | Services Section Start ===== -->
        <div class="row">
            <div class="col d-flex align-items-center">
                <div class="section-title">
                    <h2>Services</h2>
                </div>
            </div>
        </div>
        <div class="row row-cols-1 row-cols-md-3 g-4 mb-2">
            <div class="col sevices-item">
                <div class="card text-center ">
                    <header class="card-header">
                        Web developer
                    </header>
                    <div class="card-body">
                        <div class="icon">
                            <i class="fa fa-laptop-code"></i>
                        </div>
                        <p class="card-text">Systems engineer with experience in software development for different platforms and operating systems.</p>
                        <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                    </div>
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item">Programming languages: <span class="important">HTML5, CSS3, JS, JSP, JAVA, C#</span></li>
                      <li class="list-group-item">Frameworks: <span class="important">Angular, React, Bootstrap</span></li>
                      <li class="list-group-item">Technologies: Relational databases: <span class="important">Oracle, SQLServer, MySql, PostgresSQL</span></li>
                    </ul>
                    <footer class="card-footer text-muted">
                        +4 years
                    </footer>
                </div>
            </div>
            <div class="col sevices-item">
                <div class="card text-center ">
                    <header class="card-header">
                        IT Consulting
                    </header>
                    <div class="card-body">
                        <div class="icon">
                            <i class="fa fa-code"></i>
                        </div>
                        <p class="card-text">Systems engineer with experience in IT consulting, I have experience in the area of web development.</p>
                        <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                    </div>
                    <footer class="card-footer text-muted">
                        +4 years
                    </footer>
                </div>
            </div>
            <div class="col sevices-item">
                <div class="card text-center ">
                    <header class="card-header">
                        Training
                    </header>
                    <div class="card-body">
                        <div class="icon">
                            <i class="fa-solid fa-chalkboard-user"></i>
                        </div>
                        <p class="card-text">Systems engineer with experience in the delivery of web development training courses and workshops.</p>
                        <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                    </div>
                    <footer class="card-footer text-muted">
                        +4 years
                    </footer>
                </div>
            </div>
        </div>
        <!-- == | Services Section End ===== -->
    </div>
</section>
<!-- == | Main Container End ===== -->