<!-- == | Main Container Start ===== -->
<section id="services" class="services section">
    <!-- == | Services Section Start ===== -->
    <div class="row" role="row">
        <div class="col d-flex align-items-center">
            <div class="section-title">
                <h2>Services</h2>
            </div>
        </div>
    </div>
    <div class="row row-cols-1 row-cols-md-3 g-4 mb-2" role="row">
        <div class="col sevices-item">
            <article class="card text-center ">
                <header class="card-header">
                    Web developer
                </header>
                <div class="card-body">
                    <figure class="icon">
                        <i class="fa fa-laptop-code"></i>
                    </figure>
                    <p class="card-text">Systems engineer with experience in software development for different platforms and operating systems.</p>
                </div>
                <ul class="list-group list-group-flush ">
                    <li class="list-group-item bg-list">
                        <span class="badge bg-primary rounded-pill">Programming languages</span>
                        <div class="ms-2 me-auto">
                            <span class="important">HTML5, CSS3, JS, JSP, JAVA, C#</span>
                        </div>
                    </li>
                    <li class="list-group-item bg-list">
                        <span class="badge bg-primary rounded-pill">Frameworks</span>
                        <div class="ms-2 me-auto">
                            <span class="important">Angular, React, Bootstrap</span>
                        </div>
                    </li>
                    <li class="list-group-item bg-list">
                        <span class="badge bg-primary rounded-pill">Technologies - Relational databases</span>
                        <div class="ms-2 me-auto">
                            <span class="important">Oracle, SQLServer, MySql, PostgresSQL</span>
                        </div>
                    </li>
                </ul>
                <footer class="card-footer card-text-muted">
                    +4 years
                </footer>
            </article>
        </div>
        <div class="col sevices-item">
            <article class="card text-center ">
                <header class="card-header">
                    IT Consulting
                </header>
                <div class="card-body">
                    <figure class="icon">
                        <i class="fa fa-code"></i>
                    </figure>
                    <p class="card-text">Systems engineer with experience in IT consulting, I have experience in the area of web development.</p>
                </div>
                <footer class="card-footer text-muted">
                    +4 years
                </footer>
            </article>
        </div>
        <div class="col sevices-item">
            <article class="card text-center ">
                <header class="card-header">
                    Training
                </header>
                <div class="card-body">
                    <figure class="icon">
                        <i class="fa-solid fa-chalkboard-user"></i>
                    </figure>
                    <p class="card-text">Systems engineer with experience in the delivery of web development training courses and workshops.</p>
                </div>
                <footer class="card-footer text-muted">
                    +4 years
                </footer>
            </article>
        </div>
    </div>
    <!-- == | Services Section End ===== -->
</section>
<!-- == | Main Container End ===== -->