<!-- == | Main Container Start ===== -->
<section id="home" class="home section bg-home">
        <figure class="cube"></figure>
        <figure class="cube"></figure>
        <figure class="cube"></figure>
        <figure class="cube"></figure>
        <figure class="cube"></figure>
        <figure class="cube"></figure>
        <figure class="cube"></figure>
        <figure class="cube"></figure>
        <!-- == | Home Section Start ===== -->
        <div class="row">
            <!-- <h1 style="text-align:center; width:100%; margin-top:10px;">
                !{{ title }}!
            </h1> -->
        </div>
        <div class="row content-home" role="row">
            <div class="col-md-5 d-flex align-items-center justify-content-center">
                <figure class="home-img px-3 mt-5">
                    <img src="../../../../assets/img/Dreamer.png" alt="Website owner: Pedro Castiblanco">
                </figure>
            </div>
            <div class="col-md-7 d-flex align-items-center">
                <div class="home-info px-3">
                    <h3 class="hello">Hello, my name is <span class="name">Pedro Castiblanco</span></h3>
                    <h3 class="my-profession">
                        <ngx-typed-js
                            [strings]="['Web Developer','Junior Developer','Full Stack Developer']"
                            [loop]='true'
                            [typeSpeed]="100"
                            [shuffle]="true"
                        >
                            I'm a <span class="typing"></span>
                        </ngx-typed-js>
                    </h3>
                    <p></p>
                    <a routerLink="/contact" class="bttn hire-me">Hire Me</a>
                </div>
            </div>
        </div>
        <!-- == | Home Section End ===== -->
</section>
<!-- == | Main Container End ===== -->