<!-- == | Main Container Start ===== -->
<section class="home section" id="home">
    <div class="container">
        <!-- == | Home Section Start ===== -->
        <div class="row">
            <!-- <h1 style="text-align:center; width:100%; margin-top:10px;">
                !{{ title }}!
            </h1> -->
        </div>
        <div class="row">
            <div class="col-md-7 d-flex align-items-center mb-5">
                <div class="home-info px-3">
                    <h3 class="hello">Hello, my name is <span class="name">Pedro Castiblanco</span></h3>
                    <h3 class="my-profession">
                        <ngx-typed-js
                            [strings]="['Web Developer','Junior Developer','Full Stack Developer']"
                            [loop]='true'
                            [typeSpeed]="100"
                            [shuffle]="true"
                        >
                            I'm a <span class="typing"></span>
                        </ngx-typed-js>
                    </h3>
                    <p>Systems engineer, junior software engineer with a strong 
                        background in web development, including experience with 
                        front-end, back-end and database technologies, highly 
                        motivated, dedicated and passionate about software 
                        development and solving challenging technology problems, with 
                        experience in providing technical support and developing 
                        software solutions. Skilled in solving complex problems, 
                        delivering high quality code, in addition to working in a dynamic 
                        and demanding environment. Able to work independently or as 
                        part of a team, with communication and project management 
                        skills.
                        Currently holding position as a junior programmer and support 
                        engineer, with over 4 years of experience in developing project 
                        requirements and supporting enterprise web applications. My 
                        focus is on delivering results with discipline, honesty and 
                        accountability. I possess an outstanding learning ability and my 
                        ability to work both independently and as part of a team, in 
                        addition, I am analytical, organized and punctual. My work 
                        experience includes programming in several languages, such as 
                        Java, JavaScript, HTML5, CSS3 and JSP, as well as relational 
                        database management such as Oracle, SQLServer and Postgres.</p>
                        <a href="#contact" class="btn hire-me">Hire Me</a>
                </div>
            </div>
            <div class="col-md-5 d-flex align-items-center justify-content-center">
                <div class="home-img px-3">
                    <img src="../../../../assets/img/Dreamer.png" alt="">
                </div>
            </div>
        </div>
        <!-- == | Home Section End ===== -->
    </div>
</section>
<!-- == | Main Container End ===== -->