/* 
    Created on : 21/09/2023, 12:29:36 PM
    Author     : Steven
*/
/* About */
.about.section{
    background-color: var(--bg-black-900);
    min-height: 100vh;
    display: block;
    padding: 0 30px;
    opacity: 1;
}

.about .about-content{
    /* flex: 0 0 100%; */
    /* max-width: 100%; */
    text-align: left;
}

.about .about-content .about-text{
    flex: 0 0 100%;
    max-width: 100%;
}

.about .about-content .about-text h3{
    font-size: 24px;
    margin-bottom: 0px;
    font-weight: 700;
    color: var(--text-black-900);
}

.about .about-content .about-text h3 span{
    color: var(--skin-color);
}
.about span.important{
    color: var(--skin-color);
    font-weight: 600;
}

.time-exp h2{
    color: var(--skin-color);
    font-weight: 700;
    text-align: center;
}

.time-exp p{
    color: var(--text-black-900);
    font-weight: 400;
    text-align: center;
}
.time-exp .fa-star{
    color: gold;
    font-size: 20px;
    margin: auto 5px;
}

.country{
    background: linear-gradient(135deg, rgba(235,198,14,0.6) 35%, rgba(9,9,121,0.6) 35%, rgba(9,9,121,0.6) 65%, rgba(255,41,0,0.6) 65%);
}
.about-content p {
    color: var(--text-black-900);
    font-weight: 400;
}

.about .about-content .about-text p{
    font-size: 16px;
    line-height: 25px;
    margin-bottom: 0;
    color: var(--text-black-700);
}

.about .about-content .personal-info{
    margin-top: 40px;
}
.about .about-content .personal-info .info-item{
    text-align: left;
}
.about .about-content .personal-info .info-item p{
    font-weight: 600;
    padding: 10px;
    font-size: 16px;
    color: var(--text-black-900);
    border-bottom: 1px solid var(--bg-black-50);
}
.about .about-content .personal-info .info-item span{
    font-weight: 400;
    color: var(--text-black-700);
    margin-left: 4px;
    display: inline-block;
}

.about .about-content .personal-info .buttons{
    margin-top: 30px;
}

.about .about-content .personal-info .buttons .bttn{
    margin-right: 15px;
    margin-top: 15px;
}
.about .about-content .skills{
    margin-top: 40px;
}

.about .about-content .skills .skill-item{
    text-align: left;
    margin-bottom: 25px;
}

.about .about-content .skills .skill-item h5{
    line-height: 40px;
    font-weight: 600;
    font-size: 16px;
    color: var(--text-black-900);
    text-transform: capitalize;
}

.about .about-content .skills .skill-item .progress{
    background-color: var(--bg-black-50);
}

.about .about-content .skills .skill-item .progress .progress-in{
    background-color: var(--skin-color);
    color: var(--text-black-900);
    font-weight: 600;
}

.about .about-content .education
, .about .about-content .experience{
    margin-top: 30px;
}
.about .about-content .title h3{
    font-size: 24px;
    margin-bottom: 30px;
    font-weight: 700;
    color: var(--text-black-900);
}

.timeline{
    background-color: var(--bg-black-100);
    padding: 20px 10px;
    border: 1p solid var(--bg-black-50);
    border-radius: 10px;
    width: 100%;
    height: 100%;
    position: relative;
}

.timeline .timeline-item{
    position: relative;
    padding-left: 30px;
    padding-bottom: 30px;
}

.timeline .timeline-item:last-child{
    padding-bottom: 0;
}

.timeline .timeline-item::before{
    content: '';
    width: 1px;
    position: absolute;
    height: 100%;
    left: 7px;
    top: 0;
    background-color: var(--skin-color);
}

.timeline .circle-dot{
    position: absolute;
    left: 0;
    top: 0;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: var(--skin-color);
}

.timeline .timeline-date{
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 12px;
    /* margin-left: 15px; */
    color: var(--text-black-700);
}
.timeline .timeline-date .fa{
    margin-right: 5px;
}

.timeline .timeline-title{
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 15px;
    text-transform: capitalize;
    color: var(--text-black-900);
}

.timeline.title{
    color: var(--text-black-900);
    background-color: var(--skin-color);
    padding: 0 10px;
}

.timeline.title-2{
    color: var(--skin-color);
    background-color: var(--bg-footer-900);
    padding: 0 10px;
}

.timeline .about-title h2{
    text-align: center;
}

.timeline .timeline-text{
    line-height: 25px;
    font-size: 16px;
    color: var(--text-black-700);
}
.timeline .timeline-text ul{
    color: var(--text-black-700);
}

.timeline.especial{
    background: var(--bg-footer-900);
}
.timeline.especial p{
    color: var(--text-footer-900);
}
.timeline.especial .fa-graduation-cap{
    color: var(--skin-color);
    font-size: 20px;
    margin: auto 5px;
}

.timeline.button-cv{
    background: var(--bg-black-100);
    margin: 0;
    padding: 0;
}
.timeline.button-cv .bttn{
    background: var(--skin-color);
    color: var(--text-black-900);
    width: 100%;
    padding: 20px 10px;
    font-size: 40px;
    text-align: center;
}

.timeline-icon{
    position: relative;
    width: 60px;
    height: 60px;
    border-radius: 10px;
    color: var(--skin-color);
    font-size: 25px;
    background: var(--bg-footer-900);
    transition: background 0.3s ease;
}
.timeline-icon::before {
    content: '';
    position: absolute;
    height: 20px;
    width: 20px;
    border-top: 5px solid var(--skin-color);
    border-left: 5px solid var(--skin-color);
    left: 0px;
    top: 0px;
    transition: left 0.3s ease, top 0.3s ease;
}
.timeline-icon::after {
    content: '';
    position: absolute;
    height: 20px;
    width: 20px;
    border-bottom: 5px solid var(--skin-color);
    border-right: 5px solid var(--skin-color);
    right: 0px;
    bottom: 0px;
    transition: right 0.3s ease, bottom 0.3s ease;
}

.timeline-icon:hover{
    background: var(--bg-black-900);
}
.timeline-icon:hover:before{
    left: -5px;
    top: -5px;
}
.timeline-icon:hover:after{
    right: -5px;
    bottom: -5px;
}

.objectSvg {
    fill: var(--skin-color);
    height: 25px;
    position: relative;
    top: -10px;
}

.animation-time {
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-delay: 0.5s;
    animation-iteration-count: 1;
    animation-name: slideInUp;
    animation-fill-mode: both;
  }

@keyframes slideInUp {
    0% {
        transform: translateY(100vh);
    }
    100% {
        transform: translateY(0);
    }
}

@property --num {
    syntax: "<integer>";
    initial-value: 0;
    inherits: false;
}

.counter{
    transition: --num 5s;
    counter-set: num var(--num);
    animation-name: counterNum;
    animation-iteration-count: 2;
    animation-timing-function: ease-in-out;
    animation-duration: 2s;
    animation-delay: 2s;
    animation-fill-mode: both;
}

.counter::after {
    content: counter(num);
}
/* .counter:hover {
    --num: 4;
} */

@keyframes counterNum {
    0% {
        /* --num: 0;
        counter-set: num var(--num); */
        counter-reset: my-sec-counter;
    }
    100% {
        /* --num: 4;
        counter-set: num var(--num); */
        counter-increment: my-sec-counter 1;
        content: counter(my-sec-counter) ;
    }
}