<!-- == | Main Container Start ===== -->
<section class="about section" id="about">
    <div class="container">
        <!-- == | About Section Start ===== -->
        <div class="row">
            <div class="col d-flex align-items-center">
                <div class="section-title">
                    <h2>About me</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col d-flex align-items-center">
                <div class="about-content px-3">
                    <div class="row">
                        <div class="about-text px-3">
                            <h3>I'm Pedro Castiblanco <span>Junior developer</span></h3>
                            <p>Systems engineer, junior software engineer with a strong background in web development, including experience with 
                                front-end, back-end and database technologies, highly motivated, dedicated and passionate about software 
                                development and solving challenging technology problems, with experience in providing technical support and developing 
                                software solutions. Skilled in solving complex problems, delivering high quality code, in addition to working in a dynamic 
                                and demanding environment. Able to work independently or as part of a team, with communication and project management skills.</p>
                            <p>Currently holding position as a junior programmer and support engineer, with over 4 years of experience in developing project 
                                requirements and supporting enterprise web applications. My focus is on delivering results with discipline, honesty and 
                                accountability. I possess an outstanding learning ability and my ability to work both independently and as part of a team, in 
                                addition, I am analytical, organized and punctual. My work experience includes programming in several languages, such as 
                                Java, JavaScript, HTML5, CSS3 and JSP, as well as relational database management such as Oracle, SQLServer and Postgres.</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-7 personal-info">
                            <div class="row">
                                <div class="col-6 info-item">
                                    <p>Birth day: <span>14 Aug 1997</span></p>
                                </div>
                                <div class="col-4 info-item">
                                    <p>Age: <span>26</span></p>
                                </div>
                                <div class="col info-item">
                                    <p>City: <span>Bogota D.C.</span></p>
                                </div>
                                <div class="col info-item">
                                    <p>Website: <span>www.domain.com</span></p>
                                </div>
                                <div class="col-8 info-item">
                                    <p>Email: <span>pscastiblanco@gmail.com</span></p>
                                </div>
                                <div class="col info-item">
                                    <p>Degree: <span>DC</span></p>
                                </div>
                                <div class="col info-item">
                                    <p>Phone: <span>3014708589</span></p>
                                </div>
                                <div class="col info-item">
                                    <p>Freelance: <span>Available</span></p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="buttons">
                                    <a href="#" class="bttn">Download CV</a>
                                    <a routerLink="/contact" class="bttn hire-me">Hire Me</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-5 skills">
                            <div class="row">
                                <div class="skill-item">
                                    <h5>Java</h5>
                                    <div class="progress">
                                        <!-- <div class="progress-in" style="width: 76%;"></div>
                                        <div class="skill-percent">76%</div> -->
                                        <div class="progress-bar progress-in" role="progressbar" style="width: 90%;" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">90%</div>
                                    </div>
                                </div>
                                <div class="skill-item">
                                    <h5>JS</h5>
                                    <div class="progress">
                                        <div class="progress-bar progress-in" role="progressbar" style="width: 86%;" aria-valuenow="86" aria-valuemin="0" aria-valuemax="100">86%</div>
                                    </div>
                                </div>
                                <div class="skill-item">
                                    <h5>CSS</h5>
                                    <div class="progress">
                                        <div class="progress-bar progress-in" role="progressbar" style="width: 76%;" aria-valuenow="76" aria-valuemin="0" aria-valuemax="100">76%</div>
                                    </div>
                                </div>
                                <div class="skill-item">
                                    <h5>HTML</h5>
                                    <div class="progress">
                                        <div class="progress-bar progress-in" role="progressbar" style="width: 96%;" aria-valuenow="96" aria-valuemin="0" aria-valuemax="100">96%</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 experience mb-5">
                            <h3 class="title">Experience</h3>
                            <div class="row">
                                <div class="timeline-box">
                                    <div class="timeline shadow-dark">
                                        <!-- == | Timeline item ===== -->
                                        <div class="timeline-item">
                                            <div class="circle-dot"></div>
                                            <h3 class="timeline-date">
                                                <i class="fa fa-calendar"></i> January 2019 – Currently
                                            </h3>
                                            <h4 class="timeline-title">Support engineer and programmer at MEGASOFT S.A.S</h4>
                                            <p class="timeline-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium, eaque cupiditate. Nulla molestiae dolorem nobis laudantium omnis voluptatem eveniet saepe?</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 education mb-5">
                            <h3 class="title">Education</h3>
                            <div class="row">
                                <div class="timeline-box">
                                    <div class="timeline shadow-dark">
                                        <!-- == | Timeline item ===== -->
                                        <div class="timeline-item">
                                            <div class="circle-dot"></div>
                                            <h3 class="timeline-date">
                                                <i class="fa fa-calendar"></i> 2018 - April 2023
                                            </h3>
                                            <h4 class="timeline-title">Systems engineer</h4>
                                            <p class="timeline-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium, eaque cupiditate. Nulla molestiae dolorem nobis laudantium omnis voluptatem eveniet saepe?</p>
                                        </div>
                                        <div class="timeline-item">
                                            <div class="circle-dot"></div>
                                            <h3 class="timeline-date">
                                                <i class="fa fa-calendar"></i> 2017 - 2018
                                            </h3>
                                            <h4 class="timeline-title">Software Development Technologist</h4>
                                            <p class="timeline-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium, eaque cupiditate. Nulla molestiae dolorem nobis laudantium omnis voluptatem eveniet saepe?</p>
                                        </div>
                                        <div class="timeline-item">
                                            <div class="circle-dot"></div>
                                            <h3 class="timeline-date">
                                                <i class="fa fa-calendar"></i> 2015 - 2018
                                            </h3>
                                            <h4 class="timeline-title">Professional Computer Technician</h4>
                                            <p class="timeline-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium, eaque cupiditate. Nulla molestiae dolorem nobis laudantium omnis voluptatem eveniet saepe?</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- == | Abour Section End ===== -->
    </div>
</section>
<!-- == | Main Container End ===== -->
