<figure class="cube"></figure>
<figure class="cube"></figure>
<figure class="cube"></figure>
<figure class="cube"></figure>
<figure class="cube"></figure>
<figure class="cube"></figure>
<figure class="cube"></figure>
<figure class="cube"></figure>
<!-- == | Main Container Start ===== -->
<section id="contact" class="contact section row row-cols-1">
    <!-- == | Contact Section Start ===== -->
    <div class="col d-flex align-items-center" role="rowheader">
        <span class="section-title">
            <h2>{{ 'CONTACT.Title' | translate }}</h2>
        </span>
    </div>
    <article class="col card bg-card mb-1">
        <div class="row" role="row">
            <figure class="col-md-4 bg-contact mb-0">
                <img src="./assets/img/contact/mobile-contact-us-form.webp" alt="" class="">
            </figure>
            <div class="col-md-8 py-2">
                <header class="row card-header">
                    <address class="col-sm-6 contact-info-item text-center">
                        <div class="icon"><i class="fa fa-envelope"></i></div>
                        <h4>{{ 'CONTACT.TextEmail' | translate }}</h4>
                        <p>pscastiblanco&#64;gmail.com</p>
                    </address>
                    <address class="col-sm-6 contact-info-item text-center">
                        <div class="icon"><i class="fa fa-globe-europe"></i></div>
                        <h4>{{ 'CONTACT.TextWebsite' | translate }}</h4>
                        <p>https://ztevenx100.github.io/Angula_HV-PedroCastiblanco/home</p>
                    </address>
                </header>
                <div class="row card-body py-0">
                    <form class="contact-form" (submit)="sendEmail($event)">
                        <fieldset class="form-group row form-item mb-1 d-flex flex-wrap justify-content-center gap-3">
                            <legend class="card-title contact-title">{{ 'CONTACT.TextTitleForm' | translate }}</legend>
                            
                            <div class="col-md-6 input-group">
                                <label for="name" class="input-group-text">{{ 'CONTACT.LblName' | translate }}</label>
                                <input type="text" class="form-control" name="name" id="name" placeholder="Name" [disabled]="campoDeshabilitado" required>
                            </div>
                            <div class="col-md-6 input-group">
                                <label for="message" class="input-group-text">{{ 'CONTACT.LblMessage' | translate }}</label>
                                <textarea class="form-control" name="message" id="message" placeholder="Message" [disabled]="campoDeshabilitado" required></textarea>
                            </div>
                            <div class="col input-group">
                                <label for="email" class="input-group-text">{{ 'CONTACT.LblEmail' | translate }}</label>
                                <input type="text" class="form-control" name="email" id="email" placeholder="Email" [disabled]="campoDeshabilitado" required>
                                <button type="submit" class="bttn" [disabled]="campoDeshabilitado" id="submitContact">{{ 'CONTACT.btnSubmit' | translate }}</button>
                            </div>

                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </article>
    <!-- == | Contact Section End ===== -->
</section>
<!-- == | Main Container End ===== -->