<div class="container-fluid">
    <div class="row footer-base">
        <div class="col-lg-3">

        </div>
        <div class="col-lg-9 footer-content">
            <div class="container">
                <div class="row">
                    <div class="col">

                    </div>
                    <div class="col tecnology-info d-flex flex-column">
                        <div class="p-2 tecnology-info-icons d-flex justify-content-center">
                            <!-- Iconos de tecnologias usadas -->
                            <i class="fa-brands fa-angular" tooltip="Angular" containerClass="tooltipFooter"></i>
                            <i class="fa-brands fa-html5" tooltip="HTML 5" containerClass="tooltipFooter"></i>
                            <i class="fa-brands fa-css3-alt" tooltip="CSS3" containerClass="tooltipFooter"></i>
                            <i class="fa-brands fa-square-js" tooltip="JavaScript" containerClass="tooltipFooter"></i>
                            <i class="fa-brands fa-bootstrap" tooltip="Bootstrap" containerClass="tooltipFooter"></i>
                        </div>
                        <div class="p-2 tecnology-info-text">
                            Technologies used in this page
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
